.game-area {
    width: 500px;
    height: 600px;
}

.canvas {
    width: 500px;
    height: 500px;
}

.hero-canvas {
    width: 100px;
    height: 100px;
}

.enemy-canvas {
    width: 100px;
    height: 100px;
}